<br>
<label for="screen_name" class="field">Screen Name <span class="smaller">(must be 1-50 characters, default is user name)</span>&nbsp</label>
<input id="screen_name" class="field400" name="recipe_user[screen_name]" type="text" value="<%= @user.screen_name %>"><br><br>
