<label for="user_name" class="field">User Name (can't be changed)&nbsp</label>
<% if !@user.nil? %>
  <input id="user_name" class="field200 red" name="recipe_user[user_name]" type="text" value="<%= @user.user_name %>" disabled><br><br>
<% else %>
  <input id="user_name" class="field200" name="recipe_user[user_name]" type="text"><br><br>
<% end %>
<label for="user_password" class="field">User Password (case-sensitive, must be 8-16 characters)&nbsp</label>
<input id="user_password" class="field200" name="recipe_user[user_password]" type="password" value="<%= @user.user_password %>"><br>
<br>
<label for="screen_name" class="field">Screen Name (case-sensitive, must be 1-50 characters)   &nbsp</label>
<input id="screen_name" class="field400" name="recipe_user[screen_name]" type="text" value="<%= @user.screen_name %>"><br><br>
