<% content_for(:title, "User Login | Coolest Recipes") %>

<h3><u>User Login</u></h3>

<%= render('layouts/errors', :object => @user) %>

<h5><b>Enter your Coolest Recipes user name and password:</b> <span class="red">(* required field)</span></h5><br>
<form action="/recipe_users" method="submit">
  <%= render('form1') %>
  <br><br>
  <button class="btn btn-success" >Login</button>
</form>
<br><br>
<hr>
<h4><a href="/recipe_users/new">Register with Coolest Recipes</a></h4>
<h4><a href="/recipe_users/index">See all Coolest Recipes users</a></h4>
