<label for="tags" class="field"><span class="red">*</span> Available tags&nbsp</label>
<select id="tags" name="tag[id][]" multiple>
    <option></option>
  <% @tags.each do |tag| %>
    <option value="<%= tag.id %>"
      <% if !@tag_id_array.empty? && @tag_id_array.include?(tag.id) %>
        selected
      <% end %>
    ><%= tag.tag_text %></option>
  <% end %>
</select>
<br><br>
