<label for="title" class="field">Recipe Name&nbsp</label>
<% if !@recipe.nil? %>
  <input id="title" class="field400" name="recipe[title]" type="text" value="<%= @recipe.title %>" disabled><br><br>
<% else %>
  <input id="title" class="field400" name="recipe[title]" type="text" disabled>
<% end %>
