<label for="user_name" class="field"><span class="red">*</span> User Name (must be unique, must be 8-16 characters)&nbsp</label>
<% if !@user.nil? %>
  <input id="user_name" class="field200" name="user[user_name]" type="text" value="<%= @user.user_name %>"><br><br>
<% else %>
  <input id="user_name" class="field200" name="user[user_name]" type="text"<br><br>
<% end %>
<label for="user_password" class="field"><span class="red">*</span> User Password (must be must be 8-16 characters)&nbsp</label>
<input id="user_password" class="field200" name="user[user_password]" type="password"><br>
