<br>
<label for="screen_name" class="field"><span class="red">*</span> Screen Name (maximum length 50 characters)   &nbsp</label>
<input id="screen_name" class="field400" name="user[screen_name]" type="text" value="<%= @user.screen_name %>"><br><br>
