<% content_for(:title, "New Tag | Coolest Recipes") %>

<h3><u>Create a New Tag</u></h3>

<%= render('layouts/errors', :object => @tag) %>

<h5><b>Enter text for the new tag:</b></h5><br>
<form action="/tags" method="post">
  <%= render('form') %>
  <br><br>
  <button class="btn btn-success">Create Tag</button>
</form>
<br><br><br>
<hr>
<h4><a href="/tags/index">See all tags</a></h4>
<h4><a href="/recipes/index">See all the Coolest Recipes</a></h4>
<h4><a href="/recipe_users/index">See all Coolest Recipes users</a></h4>
<h4><a href="/recipe_users/<%= @user.id %>/edit">Edit password and/or screen name</a></h4>
<h4><a href="/recipe_users">Go to Welcome User menu</a></h4>
<h4><a href="/">Logoff from Coolest Recipes</a></h4>
